---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";
import LanguageSelector from "../components/LanguageSelector.astro";
import logo from "../assets/logo.svg";
import emoji from "../assets/emoji.png";

changeLanguage("en");
---

<Layout title={t("home.title")} description={t("home.description")}>
  <main>
    <section class="w-full min-h-screen">
      <div
        class="container flex flex-col items-center justify-center min-h-screen px-6 py-8"
      >
        <Image class="w-24" src={emoji} alt="Emoji" />
        <Image class="w-[30%] min-w-64 mt-4" src={logo} alt="Coke Posada" />
        <h1 class="font-heading fluid-5xl xl:fluid-6xl font-bold text-center my-6">
          {t("home.title")}
        </h1>
        <h2 class="fluid-lg text-center text-balance">
          {t("home.description")}
        </h2>
        <p class="text-center mt-20 mb-10">
          <Trans i18nKey="home.content">
            <a
              href="http://cokeposada.com"
              target="_blank"
              rel="noopener noreferrer"
              class="underline underline-offset-2"></a>
          </Trans>
        </p>
        <LanguageSelector showFlag={true} />
      </div>
    </section>
  </main>
</Layout>
