---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
import '@fontsource/geist-mono';
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title={title}
      titleTemplate="%s :: Coke Posada"
      description={description}
      canonical={Astro.url.toString()}
      openGraph={{
        basic: {
          title: "Astro Project Starter",
          type: "website",
          image: "https://cokeposada.com/og-image.jpg",
        },
        image: {
          alt: "Astro Project Starter",
        },
        optional:{
          description: description,
        }
      }}
      twitter={{
        creator: "@cokeposada",
      }}
    />
    <HeadHrefLangs />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <ViewTransitions />
  </head>
  <body>

    <slot />

    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @font-face {
        font-family: "Geist Sans";
        src: url("/fonts/geist-sans-latin-900-normal.woff2") format("woff2");
        font-weight: 900;
        font-style: normal;
        font-display: swap;
      }

      @layer base {
        html {
          font-family: "Geist Mono", monospace;
          @apply scroll-smooth;
        }

        body {
          @apply antialiased fluid-base;
        }

        * {
          @apply focus-visible:ring focus:outline-none;
        }
      }
    </style>

    <script>
      function hasHash() {
        // Verifica si en la URL hay un hash y si existe un elemento con ese ID
        if (
          window.location.hash &&
          document.getElementById(window.location.hash.substring(1))
        ) {
          // Obtiene el ID del hash
          const hash = window.location.hash.substring(1);
          // Obtiene el elemento con el ID del hash
          const element = document.getElementById(hash);
          // Obtiene la posición del elemento
          const y = element.getBoundingClientRect().top + window.scrollY;
          // Realiza el scroll al elemento
          window.scrollTo({ top: y, behavior: "smooth" });
        }
      }

      document.addEventListener("DOMContentLoaded", () => {
        hasHash();
      });

      document.addEventListener("astro:after-swap", () => {
        hasHash();
      });
    </script>
  </body>
</html>
